/* Reset */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

html, body {
    min-width: 310px;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ecf0f1;
    max-width: 100vw;
}

button {
    cursor: pointer;
}

button:focus {
    outline: none;
    filter: brightness(120%);
}

.hidden {
    display: none;
}

main {
    padding: 20px;
}

section.authors-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3.pick-authors-title {
    text-align: center;
    font-size: 1.3rem;
}

section.author-list {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

section.author-list-item {
    width: 100%;
    display: flex;
    justify-content: center;
}

section.author-list-item > button {
    border: none;
    padding: 3px;
    width: 80%;
    height: 50px;
    font-size: 1rem;
    cursor: pointer;
    background-color: #2980b9;
    color: #fafafa;
    position: relative;
    left: 5px;
    max-width: 300px;
    transition: all 0.2s ease-in-out;
}

section.author-list-item > div.author-active-status {
    width: 10px;
    height: 100%;
    background-color: #b5eece;
    z-index: 1;
    position: relative;
    right: 5px;
    transition: all 0.2s ease-in-out;
}

section.author-list-item > div.author-active-status.picked {
    background-color: #2fcb73;
}

section.author-list-item > button:hover {
    background-color: #2c8ac7;
}

section.author-list-item > button:focus {
    outline: none;
}

section.author-list-item > button:active {
    background-color: #3293d2;
}

button.red-btn {
    margin: 5px;
    height: 40px;
    width: 75%;
    border: none;
    font-size: 1.1rem;
    background-color: #e74c3c;
    color: #FAFAFA;
    transition: all 0.2s ease-in-out;
}

button.red-btn:hover {
    background-color: #e95a4b;
}

section.game-container {
    display: none;
}

section.game-container > section.excerpt-container {
    display: flex;
    width: 100%;
    padding: 5% 10%;
    font-size: 1rem;
}

section.toggle-all-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

button.toggle-all-btn {
    margin: 5px;
    width: 75%;
    height: 35px;
    border: none;
    font-size: 1rem;
    background-color: #424242;
    color: #FAFAFA;
    transition: all 0.1s ease-in-out;
}

button.toggle-all-btn:hover {
    background-color: #616161;
}

section.popup {
    z-index: 2;
    align-items: center;
    justify-content: center;
    width: 75%;
    height: 30px;
    position: fixed;
    margin: 0 auto;
    bottom: -30px;
    text-align: center;
    left: 0;
    right: 0;
    color: #fafafa;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

section#no-authors-popup {
    background-color: rgba(171,71,188 ,0.8);
}

section#incorrect-answer-popup {
    background-color: rgba(216,67,21 ,0.8);
}

section#correct-answer-popup {
    background-color: rgba(2,119,189 ,0.8);
}

section.popup.shown {
    opacity: 1;
    display: flex;
    transform: translate(0, -12vh);
}

form.input-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 50px;
    font-size: 1rem;
    flex-direction: column;
}

#autoComplete {
    font-size: 1rem;
    width: 50%;
    height: 50px;
    color: #fafafa;
    border-radius: 2px;
    padding: 0 10px;
    border: 1px solid transparent;
    background-color: #2c8ac7;
    transition: all 0.2s ease-in-out;
}

#autoComplete::placeholder {
    color: rgba(250,250,250 ,0.5);
}

#autoComplete:focus {
    outline: none;
    background-color: #2980b9;
    border-radius: 2px;
}

#autoComplete_results_list {
    border: 1px solid #fafafa;
    background-color: #2c8ac7;
    width: 50%;
    list-style-type: none;
    color: #fafafa;
    transition: all 0.2s ease-in-out;
    margin-bottom: 50px;
}

#autoComplete_results_list > li {
    width: 100%;
    padding: 10px;
    cursor: pointer;
    min-height: 30px;
    transition: all 0.2s ease-in-out;
}

#autoComplete_results_list > li:focus,
#autoComplete_results_list > li:hover {
    background-color: #2980b9;
    outline: none;
}

.autoComplete_highlighted {
    font-weight: bold;
}

button#answer-btn {
    width: 50%;
    margin-bottom: 30px;
}

footer {
    min-height: 30px;
    height: 40px;
    background-color: #27ae60;
    color: #fbfefc;
    margin-top: auto;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

footer > a#github-link {
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
    height: 100%;
    padding: 15px;
    color: inherit;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
}

footer > a#github-link:hover,
footer > a#githun-link:focus {
    background-color: #2fcb73;
    outline: none;
}

#heart {
    color: #e53e2d;
    font-size: 1.2rem;
    margin-left: 3px;
    margin-top: 2px;
}

@media screen and (min-width: 400px) {
    section.game-container > section.excerpt-container {
        font-size: 1.1rem;
    }
    section.popup {
        width: 50%;
    }
}

@media screen and (min-width: 500px) {
    section.author-list-item {
        width: 50%;
    }
    section.author-list-item > button {
        margin: 10px;
        height: 40px;
    }
    section.author-list-item > div.author-active-status {
        height: 40px;
        margin-top: 10px;
    }
    button.red-btn {
        width: 30%;
    }
    section.toggle-all-container {
        flex-direction: row;
        align-items: initial;
        justify-content: center;
    }
    button.toggle-all-btn {
        width: 35%;
    }
    section.game-container > section.excerpt-container {
        font-size: 1.2rem;
    }
    section.popup {
        width: 30%;
    }
}

@media screen and (min-width: 700px) {
    section.author-list-item {
        width: 33.3%;
    }
    button.red-btn {
        width: 150px;
        height: 50px;
        font-size: 1.3rem;
    }
    button.toggle-all-btn {
        width: 180px;
        height: 40px;
    }
    footer {
        height: 30px;
    }
    section.game-container > section.excerpt-container {
        font-size: 1.3rem;
    }
    section.popup {
        width: 250px;
    }
    #autoComplete {
        width: 40%;
    }
    #autoComplete_results_list {
        width: 40%;
    }
    button#answer-btn {
        width: 40%;
    }
}

@media screen and (min-width: 1000px) {
    section.author-list-item {
        width: 25%;
    }
    #autoComplete {
        width: 300px;
    }
    #autoComplete_results_list {
        width: 300px;
    }
    button#answer-btn {
        width: 300px;
    }
}

@media screen and (min-width: 1200px) {
    section.author-list-item {
        width: 20%;
    }
    section.author-list {
        padding-left: 5%;
        padding-right: 5%;
    }
}

@media screen and (min-width: 1600px) {
    section.author-list {
        padding-left: 10%;
        padding-right: 10%;
    }
}
