<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Познай творбата</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header></header>

    <main>
        <section class="authors-form">
            <h3 class="pick-authors-title">Изберете автори:</h3>
            <section class="author-list">
                {% for author in authors %}
                    <button>
                        {{ author[1] }}
                    </button>
                {% endfor %}
            </section>
            <button id="start-btn">Старт</button>    
        </section>
    </main>

    <footer>
        <section>
            Направено с <span id="heart">❤</span>
        </section>
    </footer>
    <script>{% include 'js/home.js' %}</script>
</body>
</html>
