<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Игра: познай творбата">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Познай творбата</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <section class="nav-bar">
        <ul>
            <a href="/play"><li>Играй</li></a>
        </ul>
    </section>

    <main class="no-padding">
        <header class="home-header">
            <h1>Познай творбата!</h1>
            <h4>Да научим произведенията за матурите</h4>
            <a href="/play" class="home-header-cta">Играй сега</a>
        </header>
        <section>

        </section>
    </main>

    <footer>
        <a href="https://github.com/bilyanhadzhi/guess-the-work" target="_blank" id="github-link">
            Направено с <span id="heart">❤</span>
        </a>
    </footer>
</body>
</html>
