<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="Description" content="Игра: познай творбата">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Познай творбата</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
</head>
<body>
    <header></header>

    <main>
        <section class="authors-form">
            <h3 class="pick-authors-title">Избрани автори:</h3>
            <section class="author-list">
                {% for author in authors %}
                <section class="author-list-item">
                    <button>{{ author[1] }}</button>
                    <div class="author-active-status picked"></div>
                </section>
                {% endfor %}
            </section>
            <button id="start-btn">Старт</button>
            <section class="toggle-all-container">
                <button class="toggle-all-btn" id="mark-all-btn">Маркирай всички</button>
                <button class="toggle-all-btn" id="unmark-all-btn">Отмаркирай всички</button>
            </section>
        </section>

        <section class="game-container">
            <section class="excerpt-container">

            </section>
        </section>

        <section id="no-authors-popup">
            Не сте избрали автори!
        </section>
    </main>

    <footer>
        <section>
            Направено с <span id="heart">❤</span>
        </section>
    </footer>
    <script>{% include 'js/home.js' %}</script>
</body>
</html>
